.sobremicont{
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-left: 18em;
    padding-right: 20em;
    height: 38em;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 28%, rgba(17,10,95,1) 62%);
    color: antiquewhite;
}

.sobremititle{
    color: aquamarine;
}

.sobremip{
    color: bisque;
}

.sobremitext{
    color: rgb(244, 195, 136);

}