.contactcontainer {
  height: 28em;
  background-color: #0a192f;
  padding-top: 8rem;
  padding-left: 8em;
  padding-right: 20em;
}

.contactitle {
  margin-left: 17rem;
  color: azure;
  margin-left: 10rem;
}

.contactp {
  color: azure;
  margin-left: 17rem;
  margin-left: 10rem;
}

.anchor {
  text-decoration: none;
  height: 7rem;
  width: 15rem;
}
.contactcards {
  height: 20em;
  display: flex;
  margin: 2rem 10rem;
  gap: 2rem;
}

.contactcardstitle {
  color: azure;
  font-size: 17px;
}

.linkedin {
  /* box-shadow: 0.5px 1px 3px 1.2px; */
  border: #091528 solid 2px;
  height: 7rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  border-radius: 40px;
  margin-left: 0.5rem;
  height: 5rem;
  width: 5rem;
}
.github {
  /* box-shadow: 0.5px 1px 3px 1.2px; */
  border: #091528 solid 2px;
  height: 7rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubimg {
  height: 5rem;
  margin-left: 1rem;
  width: 5rem;
  border-radius: 40px;
}
